<div class="panel-group" id="faq-parent-{{ include.faqId }}">
  {% for item in include.posts %}
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" data-parent="#faq-parent-{{ include.faqId }}" href="#faq-{% increment questionId %}">
            {{ item.title }} >
          </a>
        </h3>
      </div>
      <div id="faq-{% increment answerId %}" class="panel-collapse collapse">
        <div class="panel-body">
          {{ item.content }}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
