<hr>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <br>
      <p class="lead">Har du fått nog av trånga hönsburar, långa djurtransporter och plågsamma djurförsök? &nbsp; <a class="btn btn-primary btn-lg" href="#">Bli månadgivare</a></p>
    </div>
  </div>
</div>

<hr>

<footer class="container">
  <!--
  <div class="row padding">
    <div class="col-sm-2">
      <img data-src="holder.js/300x150/auto/text:{{site.title}}" class="img-rounded">
    </div>
    <div class="col-sm-9">
      <h3>{{site.description}}</h3>
    </div>
  </div>
  -->

  <div class="row padding">
    <div class="col-sm-12 text-center">
      <ul class="nav nav-pills">
        {% for item in site.data.menus[2].items %}
          <li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="row">
    {% for item in site.data.menus[4].items %}
      <div class="col-sm-3 padding">
        <p><a href="{{ site.baseurl }}{{ item.url }}">
          <img data-src="holder.js/500x200/auto/text:{{ item.name }}">
        </a></p>
      </div>
    {% endfor %}
  </div>


  <div class="row">
    <div class="col-sm-6">
      <p>Djurens Rätt, Box 17132, 104 62 Stockholm<br>
      Tel: 08 - 555 914 00, Fax: 08 - 555 914 50, info@djurensratt.se<br>
      Orgnr: 802002-4496, PlusGiro: 901087-7</p>
    </div>
    <div class="col-sm-6">
      <!-- Följ oss -->
      <ul class="nav nav-pills pull-right">
        {% for item in site.data.menus[11].items %}
          <li><a href="{{ item.url }}"><i class="fa fa-{{item.id}} fa-2x"></i> {{item.label}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">

      <!-- Direktlänkar -->
      <p>
      {% for item in site.data.menus[10].items %}
        <a href="{{site.baseurl}}{{ item.url }}">{{item.name}}</a> /
      {% endfor %}
    </p>

      <p><small>
        Allt innehåll © {{ 'now' | date: "%Y" }} {{ site.title }} om inte annat anges.
      </small></p>
    </div>
  </div>
  <p>&nbsp;</p>
</footer>

{% include menu/mobile.html %}
