
<hr>

<footer class="container">

  <div class="row padding">
    <div class="col-sm-2">
      <img data-src="holder.js/300x150/auto/text:{{site.title}}" class="img-rounded">
    </div>
    <div class="col-sm-9">
      <h3>{{site.description}}</h3>
    </div>
  </div>

  <div class="row padding">

    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-4">
          <ul class="nav nav-pills nav-stacked">
            {% for item in site.data.menus[2].items %}
              <li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-sm-6">
          <p>Djurens Rätt<br>
          Box 17132<br>
          104 62 Stockholm</p>
          <p>Tel: 08 - 555 914 00<br>
          Fax: 08 - 555 914 50<br>
          info@djurensratt.se</p>
          <p>Orgnr: 802002-4496<br>
          PlusGiro: 901087-7</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="row">
        {% for item in site.data.menus[4].items %}
          <div class="col-sm-6 padding">
            <p><a href="{{ site.baseurl }}{{ item.url }}">
              <img data-src="holder.js/500x200/auto/text:{{ item.name }}">
            </a></p>
          </div>
        {% endfor %}
      </div>

      <!-- Följ oss -->
      <ul class="nav nav-pills pull-right">
        {% for item in site.data.menus[3].items %}
          <li><a href="{{ item.url }}"><i class="fa fa-{{item.id}} fa-2x"></i> {{item.label}}</a></li>
        {% endfor %}
      </ul>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-12">
      <p><small>
        Allt innehåll © {{ 'now' | date: "%Y" }} {{ site.title }} om inte annat anges.
        {% for item in site.data.menus[6].items %}
          <a href="{{ site.baseurl }}{{ item.url }}">{{ item.name }}</a>&nbsp;
        {% endfor %}
      </small></p>
    </div>
  </div>
  <p>&nbsp;</p>
</footer>

{% include menu/mobile.html %}
