<hr>

<footer class="container">

  <div class="row">
    <div class="col-sm-6">
      <h3>Kontakt</h3>
      <p>Fairtrade Sverige, Åsögatan 119, 116 24 Stockholm<br>
        Telefon: 08-1220 89 00 Mail: info@fairtrade.se</p>
    </div>
    <div class="col-sm-6">
      <!-- Följ oss -->
      <ul class="nav nav-pills pull-right">
        {% for item in site.data.menus[11].items %}
          <li><a href="{{ item.url }}"><i class="fa fa-{{item.id}} fa-2x"></i> {{item.label}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <p><small>
        Allt innehåll © {{ 'now' | date: "%Y" }} {{ site.title }} om inte annat anges.
      </small></p>
    </div>
  </div>
  <p>&nbsp;</p>
</footer>

{% include menu/mobile.html %}
