<header>

  <nav class="navbar navbar-default navbar-transparent navbar-static-top" role="navigation">

    <!--
    Cookies
    <div class="alert alert-warning alert-dismissible fade in" role="alert">
      <button type="button" class="close close-cookie" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      <p>{{site.title}} använder <a href="{{site.baseurl}}/om-cookies">cookies</a> för att förbättra för dig som besökare. &nbsp;
        <button type="button" data-dismiss="alert" class="btn btn-default btn-sm close-cookie">Ok</button>
      </p>
    </div> -->


    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <!--
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        -->
        <a class="navbar-brand" href="/">{{ site.title }}</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
        <ul class="nav navbar-nav hidden-xs">
          {% for item in site.data.menus[0].items %}
            {% if item.items %}
              <li class="dropdown dropdown-large">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><h4>{{ item.name }} </h4> <span class="glyphicon  glyphicon-menu-down"></span></a>
                  {% case forloop.index %}
                  {% when 1 %}
                    {% include menu/engagera-dig.html id=forloop.index %}
                  {% when 2 %}
                    {% include menu/lar-dig-mer.html id=forloop.index %}
                  {% endcase %}
              </li>
            {% endif %}
          {% endfor %}
        </ul>

        <!-- Sök -->
        <form class="navbar-form navbar-left visible-lg" role="search">
          <div class="form-group hidden-sm">
            <input type="text" class="form-control input-md" placeholder="Sök">
          </div>
          <button type="submit" class="btn btn-default input-md"><span class="glyphicon glyphicon-search"></span></button>
        </form>

        <button type="button" class="btn btn-link navbar-toggle collapsed" data-toggle="modal" data-target="#menuModal">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <!-- Följ oss -->
        <ul class="nav navbar-nav navbar-right visible-md visible-lg">
          {% for item in site.data.menus[3].items %}
          <li><a href="{{ item.url }}"><i class="fa fa-{{item.id}} fa-lg"></i></a></li>
          {% endfor %}
        </ul>

        <!-- Medlem -->
        <ul class="nav navbar-nav navbar-right">
          <li class="text-center hidden-lg"><a href=""><span class="glyphicon glyphicon-search"></span><br><small>Sök</small></a></li>
          <li class="text-center"><a href="{{site.baseurl}}/medlem/"><span class="glyphicon glyphicon-user"></span><br><small>Medlem</small></a></li>
          <li class="text-center hidden-xs"><a href="{{site.baseurl}}/lokalt/"><span class="glyphicon glyphicon-map-marker"></span><br><small>Lokalt</small></a></li>

        </ul>
    </div>
  </nav>
</header>

<a id="main-content"></a>
