<header>

  <nav class="navbar navbar-default navbar-small" style="margin-bottom: 0;border-bottom:none;" role="navigation">
    <div class="container">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          {% for item in site.data.menus[2].items %}
            <li><a href="#"><small>{{item.name}}</small></a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-default" style="border-top: none;" role="navigation">

    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">{{ site.title }}</a>
      </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- Collect the nav links, forms, and other content for toggling -->
        <ul class="nav navbar-nav">
          <li class="disabled" style="font-variant:small-caps;"><a>jag vill:</a></li>
          {% for item in site.data.menus[0].items %}
            {% if item.items %}
              <li class="dropdown dropdown-large">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>{{ item.name }} </strong></a>
                  {% include menu/engagera-dig.html id=item.id %}
              </li>
            {% endif %}
          {% endfor %}
        </ul>

        <!-- Företag etc -->

        <ul class="nav navbar-nav navbar-right">
          <li class="disabled" style="font-variant:small-caps;"><a>fairtrade för:</a></li>
          {% for item in site.data.menus[1].items %}
            {% if item.items %}
              <li class="dropdown dropdown-large">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>{{ item.name }} </strong></a>
                  {% include menu/engagera-dig.html id=item.id %}
              </li>{{id_menu}}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</header>

<a id="main-content"></a>
