<!-- {{include.id}} -->
<div class="dropdown-menu dropdown-menu-large dropdown-{{include.id}}">
  <div class="container">
    <div class="row">

      <div class="col-md-9">
        <div class="row">
          {% for item in item.items limit:3 %}
            <div class="col-sm-4">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <a href="{{ site.baseurl }}{{ item.url }}">
                    <strong>{{ item.name }}</strong>
                  </a>
                </li>
                {% for item in item.items %}
                  <li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.name }}</a></li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <ul class="nav nav-pills">
              {% for item in item.items offset:3 %}
                <li><a href="{{ site.baseurl }}{{ item.url }}">
                  <strong>{{ item.name }} ></strong>
                </a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <!-- Banners i meny Engagera dig -->
      <div class="col-md-3">
        <div class="row">
          {% for item in site.data.menus[5].items %}
            <div class="col-sm-6 col-md-12">
              <p><a href="{{ site.baseurl }}{{ item.url }}">
                <img data-src="holder.js/500x200/auto/text:{{ item.name }}">
              </a></p>
            </div>
          {% endfor %}
        </div>
      </div>


    </div>
  </div>
</div>
