<!-- {{include.id}} -->
<div class="dropdown-menu dropdown-menu-large dropdown-{{include.id}}">
  <div class="container">
    <div class="row">
      {% for item in item.items %}
        <div class="col-sm-4 col-md-3">
          <ul class="nav nav-pills nav-stacked">
            <li>
              <a href="{{ site.baseurl }}{{ item.url }}">

                <!-- Illustrationer i meny Lär dig mer -->
                {% if include.id == 2 %}
                  <p><img data-src="holder.js/500x200/auto/text:illustration"></p>
                {% endif %}

                <strong>{{ item.name }}</strong></a></li>

            {% if include.id == 1 %}
              {% for item in item.items %}
                <li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.name }}</a></li>
              {% endfor %}
            {% endif %}

            <!-- <li class="divider"></li> -->
          </ul>
        </div>
      {% endfor %}

      <!-- Banners i meny Engagera dig -->
      {% if include.id == 1 %}
        <div class="hidden-md hidden-lg clearfix"></div>
        <div class="col-md-3">
          <div class="row">
            {% for item in site.data.menus[5].items %}
              <div class="col-sm-6 col-md-12">
                <p><a href="{{ site.baseurl }}{{ item.url }}">
                  <img data-src="holder.js/500x200/auto/text:{{ item.name }}">
                </a></p>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}

    </div>
  </div>
</div>
