---
layout: global

title: Lär dig mer
excerpt: "Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum."

menuitems:
  - name: Vad tycker Djurens Rätt?
  - name: Fiskar och andra vattenlevande djur
  - name: Förmåga till lidande hos fiskar
  - name: Förmåga till lidande hos ryggradslösa djur
  - name: Grisar
  - name: Hönor & tuppar
  - name: Kalkoner
  - name: Kaniner
  - name: Naturligt beteende hos kaniner
  - name: Kor, kalvar & tjurar
  - name: Hanteringen av mjölkkalvar
  - name: Kycklingar
  - name: Får och lamm
  - name: Renar
  - name: Bin
  - name: Andra djur i livsmedelsindustrin
  - name: Transport och slakt av hästar
  - name: Transporter
  - name: Slakt
  - name: 'Internationellt: Slakt utan bedövning'
  - name: Läs mer

status: none
type: ingang
description: Lär dig mer
weight: 80

---

<div class="container-fluid">
  <div class="row">
    {% for item in site.data.menus[0].items[1].items limit:12 %}
      <div class="col-sm-4 col-md-3">
        <a href="{{ site.baseurl }}{{ item.url }}">
          <img data-src="holder.js/500x200/auto/text:illustration">
          <h3>{{item.name}} <span class="{{item.icon}}"></span></h3>
        </a>
        <div class="list-group hidden-xs">
          {% for item in page.menuitems limit:5 %}
            <a href="#" class="list-group-item">{{item.name}}</a>
          {% endfor %}
        </div>
        <p class="hidden-xs"><a href="{{ site.baseurl }}{{ item.url }}">Läs alla artiklar</a></p>
        <p>&nbsp;</p>
      </div>
      {% cycle '', '', '', '<div class="clearfix visible-md visible-lg"></div>' %}
    {% endfor %}
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ul class="nav nav-pills">
        {% for item in site.data.menus[0].items[1].items offset:12 %}
          <li><a href="{{ site.baseurl }}{{ item.url }}">
            <h3>{{ item.name }} ></h3>
          </a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
