---
layout: global

---

{% assign navurl = page.url | remove:'index.html' %}
{% assign navparts = page.url | split:'/' %}

<div class="container-fluid">

  <div class="row">
    <div class="col-sm-12 text-center">
      <h1 class="page-header">{{ page.title }}</h1>
      <p class="lead">{{page.ingress}}</p>
      <p>&nbsp;</p>
    </div>
  </div>

  <div class="row">
    {% for item in site.data.menus[page.menu].items[page.submenu].items %}
      {% if item.url contains navparts[2] %}
        {% for item in item.items %}
          <div class="col-sm-6 col-md-4 teaser bg-{% cycle 'success', 'info', 'warning', 'danger' %}">
            <a href="{{ site.baseurl }}{{ item.url }}"><h3>{{ item.name }}</h3></a>
            <p>Cake gummies oat cake powder toffee brownie chupa chups. Apple pie muffin cookie sweet cake jujubes.</p>
          </div>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </div>
</div>

{{content}}
