---
layout: global

---

{% assign navurl = page.url | remove:'index.html' %}
{% assign navparts = page.url | split:'/' %}

<div class="container">

  <div class="row">
    <div class="col-sm-12 text-center">
      <h1 class="page-header">{{ page.title }}</h1>
      <p>&nbsp;</p>

      {% for item in site.categories.type-blixtaktion limit:1%}
        {% include node/teaser_action_small.html %}
      {% endfor %}
      <p>&nbsp;</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-lg-7 col-md-offset-2">

      <p class="lead">{{page.ingress}}</p>
      {{ content }}
      {% include misc/share.html %}

      {% if page.form %}
        <p>&nbsp;</p>
        {% include form/form-horizontal.html form=page.form %}
      {% endif %}

      <p>&nbsp;</p>

      {% if page.references %}
        <div class="panel-group" id="faq-parent-ref">
          <div class="panel panel-transparent">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#faq-parent-ref" href="#faq-{% increment questionId %}">
                  Källor >
                </a>
              </h3>
            </div>
            <div id="faq-{% increment answerId %}" class="panel-collapse collapse">
              <div class="panel-body">
                <ol>
                {% for item in page.references %}
                  <li>{{item}}</li>
                {% endfor %}
                </ol>
              </div>
            </div>
          </div>
        </div>
      {% endif %}

      <h3>Vanliga frågor om {{page.cat}}</h3>
      {% include misc/faq.html faqId=wiki posts=site.categories.type-faq %}

      <p>&nbsp;</p>

      <div class="well">
        <a href=""><h4>På Vegokoll.se hittar du mer om djurvänligt mode</h4></a>
      </div>


    </div>
    <div class="col-sm-4 col-lg-3">

      <!-- Fler texter -->
        <h4>Läs mer om {{page.cat}}</h4>
        <ul class="nav nav-pills nav-stacked">
          {% for item in site.categories.[page.cat] limit:7 %}
            <li>
              <a href="{{ site.baseurl }}{{ item.url }}">
                {% if item.subtitle %}{{item.subtitle}}:{% endif %}
                {{ item.title }}
              </a>
            </li>
          {% endfor %}
        </ul>

      <p>&nbsp;</p>

    </div>
  </div>
</div>

{% include panel/related_articles.html %}
