---
layout: global

---

{% assign navurl = page.url | remove:'index.html' %}
{% assign navparts = page.url | split:'/' %}

<div class="container">

  <div class="row padding">
    <div class="col-sm-12">
      {% include misc/breadcrumb.html %}
      <h1 class="page-header">{{ page.title }}</h1>
      {% include menu/submenu-mobile.html %}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-lg-7">

      {% if page.media %}
        <p>
          <img data-src="holder.js/140x100/auto/text:{{page.media}}">
          <p><small>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</small></p>
        </p>
        <p>&nbsp;</p>
      {% endif %}

      {{ content }}

      {% if page.form %}
        <p>&nbsp;</p>
        {% include form/form-horizontal.html form=page.form %}
      {% endif %}

      <p>&nbsp;</p>

      {% if page.references %}
        <h4>Källor</h4>
        <br>
        <ol>
        {% for item in page.references %}
          <li>{{item}}</li>
        {% endfor %}
        </ol>
      {% endif %}

      <p>&nbsp;</p>

      {% include misc/share.html %}

      <hr>
      <p><small>
        Sidansvarig: Moa Richter Hagert &nbsp;&nbsp;&nbsp;
        Uppdaterad: 22 februari 2016
      </small></p>



      <p>&nbsp;</p>

    </div>
    <div class="col-sm-4 col-lg-3">

      <!-- Meny Om oss -->
      <ul class="nav nav-pills nav-stacked">
        {% for item in site.data.menus[page.menu].items[page.submenu].items %}
          {% if item.url contains navparts[1] %}
            <li class="{% if item.url == navurl %}active{% endif %}"><a href="{{ site.baseurl }}{{ item.url }}"><strong>{{ item.name }}</strong></a></li>
            {% for item in item.items %}
              <li class="{% if item.url == navurl %}active{% endif %}">
                <a href="{{ site.baseurl }}{{ item.url }}">&nbsp;{{ item.name }}</a>
              </li>
              {% if item.url contains navparts[2] %}
                {% for item in item.items %}
                  <li class="{% if item.url == navurl %}active{% endif %}">
                    <a href="{{ site.baseurl }}{{ item.url }}">&nbsp; -- {{ item.name }}</a>
                  </li>
                {% endfor %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      </ul>

      <p>&nbsp;</p>


    </div>
  </div>
</div>
