---
layout: local
---



<div class="row">
  <div class="col-md-7 col-md-offset-0">
    {{content}}
  </div>
  <div class="col-md-5">
    {% if page.media %}
      <p>
        <img data-src="holder.js/140x100/auto/text:{{page.media}}">
      </p>
      <p>&nbsp;</p>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-md-7 col-md-offset-0">
    <hr>

    <h2>Aktuellt</h2>
    <br>
    {% for item in site.posts limit:1 %}
      {% include node/teaser_list_simple.html %}
    {% endfor %}
    {% for item in site.posts limit:2 offset:1 %}
      {% include node/teaser_calendar.html %}
    {% endfor %}
    {% for item in site.posts limit:2 offset:3 %}
      {% include node/teaser_list_simple.html %}
    {% endfor %}
    <p><a href="#" class="btn btn-default">Visa fler</a></p>
  </div>
</div>
