---
layout: local
---

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/sv_SE/sdk.js#xfbml=1&version=v2.5&appId=127912790561749";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="row">
  <div class="col-md-7 col-md-offset-0">
    {{content}}
  </div>
  <div class="col-md-5">
    {% if page.media %}
      <p>
        <img data-src="holder.js/140x100/auto/text:{{page.media}}">
      </p>

      <p>&nbsp;</p>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-md-7 col-md-offset-0">
    <h2>Aktuellt</h2>
    <br>
    {% for item in site.posts limit:1 %}
      {% include node/teaser_list_simple.html %}
    {% endfor %}
    {% for item in site.posts limit:2 offset:1 %}
      {% include node/teaser_calendar.html %}
    {% endfor %}
    {% for item in site.posts limit:2 offset:3 %}
      {% include node/teaser_list_simple.html %}
    {% endfor %}
    <p><a href="#" class="btn btn-default">Visa fler</a></p>
  </div>
  <div class="col-md-5">
    <div class="fb-page"
      data-href="https://www.facebook.com/djurensrattgoteborg/"
      data-small-header="false"
      data-adapt-container-width="true"
      data-hide-cover="false"
      data-show-facepile="false"
      data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/djurensrattgoteborg/"><a href="https://www.facebook.com/djurensrattgoteborg/">djurensrattgoteborg</a></blockquote></div>
    </div>
    <p>&nbsp;</p>
  </div>
</div>
