---
layout: global

title: Engagera dig
excerpt: "Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum."

status: none
type: ingang
description: Engagera dig
weight: 80

---

<div class="container-fluid">
  <div class="row">
    {% for item in site.data.menus[0].items[0].items limit:3 %}
      <div class="col-sm-4 col-md-3">
        <a href="{{ site.baseurl }}{{ item.url }}">
          <h3>{{item.name}} <span class="{{item.icon}}"></span></h3>
        </a>
        <div class="list-group hidden-xs">
          {% for item in item.items limit:5 %}
            <a href="#" class="list-group-item">{{item.name}}</a>
          {% endfor %}
        </div>
        <p class="hidden-xs"><a href="{{ site.baseurl }}{{ item.url }}">Läs alla artiklar</a></p>
        <p>&nbsp;</p>
      </div>
      {% cycle '', '', '', '<div class="clearfix visible-md visible-lg"></div>' %}
    {% endfor %}
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ul class="nav nav-pills">
        {% for item in site.data.menus[0].items[0].items offset:3 %}
          <li><a href="{{ site.baseurl }}{{ item.url }}">
            <h3>{{ item.name }} ></h3>
          </a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
